apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: learning-ingress
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend
            port:
              number: 80

      - path: /api
        pathType: Prefix
        backend:
          service:
            name: backend
            port:
              number: 5000

      - path: /ai
        pathType: Prefix
        backend:
          service:
            name: ai
            port:
              number: 6000
